@font-face {
  font-family: "iconfont"; /* Project id 3671202 */
  src: url('//at.alicdn.com/t/c/font_3671202_wss1x3udejf.woff2?t=1665148109091') format('woff2'),
       url('//at.alicdn.com/t/c/font_3671202_wss1x3udejf.woff?t=1665148109091') format('woff'),
       url('//at.alicdn.com/t/c/font_3671202_wss1x3udejf.ttf?t=1665148109091') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kefu:before {
  content: "\e60a";
}

.icon-duanxin:before {
  content: "\e61f";
}

.icon-bangzhu:before {
  content: "\e601";
}

.icon-kefufill:before {
  content: "\e740";
}

.icon-yduidunpaishixin:before {
  content: "\e67e";
}

.icon-fukuanfangshisel:before {
  content: "\e62a";
}

.icon-dianpu:before {
  content: "\e736";
}

.icon-gouwudai:before {
  content: "\e73e";
}

.icon-zuji:before {
  content: "\e767";
}

.icon-shoucang:before {
  content: "\e8ba";
}

.icon-nanzhuang:before {
  content: "\e600";
}

.icon-nvzhuang:before {
  content: "\e628";
}

.icon-shafa:before {
  content: "\e61e";
}

.icon-xiangshui:before {
  content: "\e618";
}

.icon-yingtao:before {
  content: "\e607";
}

.icon-xiezi:before {
  content: "\e6d0";
}

.icon-shouji:before {
  content: "\e8b9";
}

.icon-yaoxiang:before {
  content: "\e6ce";
}
